#do not keep any spaces between the '=' or keep one blank space on each side
[defaults]
remote_user = student
inventory = /home/student/ansible-playbook/basic-playbooks/inventory
ask_pass = false
#collections_path= /home/student/ansible-playbook/collections
#roles_path= /home/student/ansible-playbook/roles
[privelege_escilation]
become = true
become_method = su
become_user = root
become_ask_pass = true 
